.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.inputContainer{
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
}

.button{
  background-color: #008CBA;
  color:white;
  border-radius:5px
}

.counterContainer{
  padding: '20px';
  background-color: white;
  width: 70%;
  margin: auto
}

.loadingContainer{
  width: 180px;
  margin: auto;
  padding-bottom: 10px; 
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.valueContainer{
  width:180px;
  margin: auto
}

.counterValueContainer{
  margin-top: 10px;
  font-size: 12px;
  width: 100px;
  height: 16px;
  padding-bottom: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width:180px;
  height: 56px;
  background-color: pink;
  margin: auto;
  border:2px solid #C41E3A;
  border-radius: 8px;
  
}

.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color:white;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  color: #B24242;
  cursor:pointer;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color:#FBE8E8;
  justify-content: center;
  align-items: center;
}

.column3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color:#B24242;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  cursor:pointer;
  color: white;
}


.label {
  
  width: 25%;
  margin-top: 6px;
}

.input {
  width: 75%;
  margin-top: 6px;
}

.inputValue{
  outline: none;
  border:none
}

.counterInput{
  background-color:transparent;
  color: #B24242;
  width:100%;
  height:100%;
  text-align:center;
  font-size:29px;
  border:none;
  outline: none;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid black;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

